/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  /* Almennt */
  
  /** Letur og stærðir **/
  
  /*** Grunnstærð er 16px ***/
  html {
    font-size: 16px;
  }
  
  /*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
  @font-face {
    font-family: Matemasie;
    src: url("../fonts/Matemasie/Matemasie-Regular.ttf");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("../fonts/Open_Sans/Static/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("../fonts/Open_Sans/Static/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
  }
  
  /*** Allt meginmál notar open sans ***/
  html,
  input,
  select,
  button {
    /* TODO Skilgreina */
    font-family: OpenSans, serif;
  }
  
  /*** Allar fyrirsagnir nota Matemasie regular ***/
  h1,
  h2,
  h3,
  legend {
    /* TODO Skilgreina */
    font-family: Matemasie, serif;
  }
  
  /** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
  img {
    max-width: 100%;
    float: right;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  /** Litur á hlekkjum erfist frá foreldri **/
  a {
    color: inherit;
  }
  
  /**
   * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
   * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
   * sem grunn og án breytinga.
   * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
   * innan <body>.
   */
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  
    background-color: #f3dd99;
  }
  
  .wrapper main {
    flex: 1;
  }
  
  /* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */
  
  /** Haus á síðum **/
  
  header {
    /* TODO Skilgreina */
    background-color:#cc99bb;
    text-align: center;
    padding: 1rem;

  }
  
  /** Valmynd **/
  
  nav {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #eebbdd;
    border : 1px solid #cc99bb;
    border-bottom: 4px solid #cc99bb;
  }

  nav ul{
    display: inline-block;
    list-style-type: none;
  }

  nav ul li{
    display: inline-block;
    margin-right: 1rem;
  }

  /* TODO Skilgreina aðra selectora fyrir valmynd */
  
  /** Meginmál og efni forsíðu **/
  
  main {
    /* TODO Skilgreina */
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 900px;
  }
  main p {
    text-align: left;
    margin-bottom: 1rem;
  }


  
  /* TODO Skilgreina aðra selectora fyrir meginmál of forsíðu */
  
  /** Fótur **/
  
  footer {
    background-color: #eebbdd;
    border-top: 4px solid #cc99bb;
    text-align: center;
    padding: 1rem;

  }
  
  /* Ef við notum section fyrir hvert svæði undir fót, þá er hægt að nota eftirfarandi */
  footer > section {
    display: inline-block;
    /* Lætur efni byrja efst í línu, almennt myndum við nota flexbox hér! */
    vertical-align: top;
    /* TODO fleiri skilgreiningar */

  }
  
  /* TODO Skilgreina aðra selectora fyrir fót */

  footer h2 {
    margin-bottom: 1rem;
  }

  footer ul {
    list-style: none;
  }

  footer dl dt {
    font-weight: bold;
  }
  /** Spilasíða, töflustílar **/
  
  table {
    /* TODO Skilgreina */
    border-spacing: 0;
  }
  
  /* TODO Skilgreina aðra selectora fyrir töflu */

  table td, th {
    padding: 0.5rem;
  }

  table tr.c1{
    background-color: #eebbdd;
    border-end-end-radius: 5px;

  }
  
  /** Viðburðir **/
  
  .event {
    /* TODO Skilgreina, gerum ráð fyrir að hver viðburður hafi eigin selector */
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }


  .event h2 {
    text-align: left;
  }

  .event p {
    text-align: left;
    padding-bottom: 5.5rem;
  }

  
  /* TODO Skilgreina aðra selectora fyrir viðburði */


  .event a {
    text-align: left;
  }

  .event img {
    float: left;
    border-radius: 5px;
    margin-right: 1rem;
    width: 12rem;
    height: auto;
  }

  
  /** Skráningarform **/
  .form {
    margin-left: 0;
    float: left;
    padding: 1rem;
  }
  
  
  /* TODO Skilgreina */

  .main-form {
    margin-left: 0;
    float: left;
    padding: 1rem;
    width: 35%;
  }

  .main-form a {
    text-align: left;
    float: left;
  }

  

  .form button {
    padding: 0.5rem 1rem;
    background-color: #eebbdd;
    border-radius: 5px;
    float: left;
  }

  .form fieldset {
    border: none;
  }

  .form label {
    margin-bottom: 0.5rem;
  }

  .form select, input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .check {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .check input {
    display: inline-block;
    width: auto; 
    margin-right: 0.5rem; 
  }
  
  .form label.check {
    display: inline-block;
  }
  